body {
    color: var(--nav-link-color);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #135784;
}

#h {
    text-align: left;
}

header h1, h3 {
    color: white;
    font-family: "Roboto", sans-serif;;
}

nav {
    background-color: black;
}
#menu::before {
    content: "☰";
}

#menu {
    font-size: 2rem;
    background: #135784;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: .75rem 2vw;
    text-decoration: none;
    list-style-type: none;
    margin-right: 2.5rem;
}

ul.navigation li a:hover {
    background-color: #964b00;
}

li.active a {
    background-color: black;
}

ul.navigation {
    list-style-type: none;
}

#menu.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

.hero {
    position: relative;
    padding-top: 20px;
    text-align: center;
}

.hero img {
    width: 747px;
    max-height: 420px;
}

.cta-link {
    display: inline-block;
    background-color: #2d1763;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    position: absolute; 
    top: 50px; 
    left: 250px; 
}


footer {
    display: flex;
    flex-direction: column;
    background-color: #135784;
    color: white;
    text-align: center;
    padding: 10px;
    gap: 5px;
}