:root {
    --primary-color: #135784;
    --secondary-color: black;
    --accent1-color: white;
    --accent2-color: #964b00;

    --nav-background-color: #135784;
    --nav-link-color: black;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #964b00;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
}

header img {
    margin: 10px;
    box-shadow: 5px 5px 10px black;
}

header span {
    font-size: 2em;
    color: var(--accent1-color);
    font-family: "Roboto", sans-serif;;
}


nav {
    background-color: var(--secondary-color);

}

nav ul {
    list-style-type: none;
    margin-right: 2.5rem;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #964b00;
}



main h1 {
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 1.5rem;

}


body {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}

.card ul {
    list-style: none;
    padding: 30px;
}

.card h2 {
    color: white;
    padding: 5px;
    background-color: var(--primary-color);
    text-align: center;
}

.card p {
    text-align: center;
    padding: 30px;
}

.card a {
    text-decoration: none;
}


footer {
    background-color: #135784;
    color: white;
    text-align: center;
    padding: 10px;
}