@media screen {
    @media screen and (min-width: 760px) {
       
        #menu {
            display: none;
        }
        nav {
            grid-template-rows: 1fr;
        }
        ul.navigation, ul.navigation.open {
            display: flex;
            font-size: 1.5rem;
        }
        nav ul li {
            flex: 1 1 100%;
        }
        
        
        main {
            display: grid;
            grid-template-columns: 2fr 1fr;
            margin: 10px;
        }
        h1 {
            grid-column: 1/3;
        }

      
        
    }
}